.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .modal-container {
  position: fixed;
  max-width: 600px;
  background-color: #FFF;
}

.description {
  text-align: start;
  padding: 4em 2em;
}

.close {
  background-color: #f65835;
  border: 0;
  border-radius: 5px;
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  color: #FFF;
}

.modal h2 {
  margin-bottom: 1.2em;
}

.row {
  display: flex;
  align-items: center;
  gap: 3px;
  padding: 10px;
  margin-bottom: 1em;
  border: 1px solid #393636;
  border-radius: 5px;
}

.modal span {
  font-weight: bold;
  font-size: 1.1em;
  display: flex;
  align-items: center;
}

.modal span i {
  font-weight: 400;
  padding: 2px 8px;
}

.modal .icon-span {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: 5px;
  border: 0.5px solid transparent;
  border-radius: 3px;
  color: #e91d1d;
}